---
- name: install ZSH
  apt:
    name:
      - zsh
      - fonts-font-awesome
    state: present

- name: Download Oh my ZSH
  get_url:
    url: "https://raw.github.com/ohmyzsh/ohmyzsh/master/tools/install.sh"
    dest: "{{ home_dir }}"
    mode: '0755'

- name: install oh my zsh
  shell: "{{ home_dir }}/install.sh -y"
  become: no

- name: Clone ZSH plugins
  git:
    repo: "{{ item.repo }}"
    dest: "{{ home_dir }}/.oh-my-zsh/custom/{{ item.dest }}"
    depth: 1
  loop:
    - { repo: 'https://github.com/zsh-users/zsh-autosuggestions.git', dest: 'plugins/zsh-autosuggestions' }
    - { repo: 'https://github.com/zsh-users/zsh-syntax-highlighting.git', dest: 'plugins/zsh-syntax-highlighting' }
    - { repo: 'https://github.com/romkatv/powerlevel10k.git', dest: 'themes/powerlevel10k' }
  become: no

- name: upd plugin
  shell: "sed -i 's/plugins=(git)/plugins=(git zsh-autosuggestions zsh-syntax-highlighting)/' {{ home_dir }}/.zshrc"
  become: no

- name: upd theme
  shell: sed -i 's|ZSH_THEME="robbyrussell"|ZSH_THEME="powerlevel10k/powerlevel10k"|' {{ home_dir }}/.zshrc
  become: no

- name: upd theme
  shell: chsh -s $(which zsh)
  become: no